body {
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
  margin: 0% 0%;
  background-color: rgb(32, 32, 32);

  cursor: url(https://storage.googleapis.com/alieyen-blaster/public/assets/features/cursor.png) 19 19, pointer;
}

h2 {
  color: white;
}