<head>
  <title>alieyen-blaster</title>
</head>

<body>
  <!-- <h1>Welcome to Ali-eye-n Blaster 3000!</h1> -->

  <!-- {{> score}} -->
  {{> info}}
</body>

<template name="score">
  <button id="counter">Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  <div id="highscores">
    <p>Highest Score:</p>
    <div id="scoreHolder"></div>
    <div id="highscore"></div>
    <button id="save">Save Score</button>
  </div>
</template>

<template name="info">
  <h2>Game Created with ❤ by Bubba 5</h2>
</template>
